In [1]:
import pandas as pd
import numpy as np

In [2]:
women_blazers=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_blazers.csv")
print(women_blazers.shape)
women_blazers['Type']='Women Blazers'
print(women_blazers.shape)

(499, 19)
(499, 20)

In [3]:
women_dresses=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_dresses.csv")
women_dresses.shape
women_dresses['Type']='Women Dresses'
print(women_dresses.shape)

(499, 20)

In [4]:
women_ethnictops=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_ethnictops.csv")
print(women_ethnictops.shape)
women_ethnictops['Type']='Ethnic Tops'
print(women_ethnictops.shape)

(499, 19)
(499, 20)

In [5]:
women_ethnicwear=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_ethnicwear.csv")
print(women_ethnicwear.shape)
women_ethnicwear['Type']='Ethnic Wear'
print(women_ethnicwear.shape)

(499, 19)
(499, 20)

In [6]:
women_jackets=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_jacket.csv")
print(women_jackets.shape)
women_jackets['Type']='Women Jackets'
print(women_jackets.shape)

(496, 19)
(496, 20)

In [7]:
women_jean=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_jean.csv")
print(women_jean.shape)
women_jean['Type']='Jeans'
print(women_jean.shape)

(499, 19)
(499, 20)

In [8]:
women_jumpsuits=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_jumpsuits.csv")
print(women_jumpsuits.shape)
women_jumpsuits['Type']='Jumpsuits'
print(women_jumpsuits.shape)

(498, 19)
(498, 20)

In [9]:
women_leggins=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_leggins.csv")
print(women_leggins.shape)
women_leggins['Type']='Leggins'
print(women_leggins.shape)

(497, 19)
(497, 20)

In [10]:
women_sarees=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_sarees.csv")
print(women_sarees.shape)
women_sarees['Type']='Sarees'
print(women_sarees.shape)

(499, 19)
(499, 20)

In [11]:
women_shrugs=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_shrugs.csv")
print(women_shrugs.shape)
women_shrugs['Type']='Shrugs'
print(women_shrugs.shape)

(498, 19)
(498, 20)

In [12]:
women_skirts=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_skirts.csv")
print(women_skirts.shape)
women_skirts['Type']='Skirts'
print(women_skirts.shape)

(425, 19)
(425, 20)

In [13]:
women_sweatshirt=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_sweatshirt.csv")
print(women_sweatshirt.shape)
women_sweatshirt['Type']='Sweatshirt'
print(women_sweatshirt.shape)

(484, 19)
(484, 20)

In [14]:
women_tshirts=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\myntra_women_tshirt.csv")
print(women_tshirts.shape)
women_tshirts['Type']='women Tshirts'
print(women_tshirts.shape)

(499, 19)
(499, 20)

In [15]:
women_cholis=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_lehenga_cholis.csv")
print(women_cholis.shape)
women_cholis['Type']='Cholis'
print(women_cholis.shape)

(498, 19)
(498, 20)

In [16]:
frames=[women_blazers,women_cholis,women_dresses,women_ethnictops,women_ethnicwear,women_jackets,
         women_jean,women_jumpsuits,women_leggins,women_sarees,
        women_shrugs,women_skirts,women_sweatshirt,women_tshirts]
women_clothings=pd.concat(frames)
women_clothings.shape

(6889, 20)

In [17]:
women_clothings

,web-scraper-order,web-scraper-start-url,nextpage,nextpage-href,prod_link,prod_link-href,brand,product_name,rating,total_bought,strike_price,discounted_price,available_sizes,prod_details,sizeandfit,seller,reviews,Materialandcare,specifications,Type
0,1707039248-1,https://www.myntra.com/women-blazers-waistcoats,NaN,NaN,Tokyo TalkiesSingle-Breasted BlazersSizes: MRs...,https://www.myntra.com/blazers/tokyo+talkies/t...,Tokyo Talkies,Grey Single-Breasted Blazers,4.4,15 Ratings,₹3599,₹1099,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"Regular-fit\nThe model (height 5'8"") is wearin...",S & S Marketing,[],Polyester\nMachine Wash,"[{""specifications"":""Front-Open""},{""specificati...",Women Blazers
1,1707039252-2,https://www.myntra.com/women-blazers-waistcoats,NaN,NaN,Tokyo TalkiesDouble Breasted BlazersSizes: XSR...,https://www.myntra.com/blazers/tokyo+talkies/t...,Tokyo Talkies,Notched Lapel Longline Double Breasted Blazers,5.0,2 Ratings,₹4099,₹1149,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"The model (height 5'8"") is wearing a size S",S & S Marketing,[],70% Polyester & 30% Viscose\nMachine Wash,"[{""specifications"":""Button""},{""specifications""...",Women Blazers
2,1707039254-3,https://www.myntra.com/women-blazers-waistcoats,NaN,NaN,NEW SEASONH&MWomen Gathered Sleeve BlazersSize...,https://www.myntra.com/blazers/h%26m/-hm-women...,H&M,Women Relaxed-Fit Gathered Sleeve Blazers,NaN,NaN,NaN,Rs. 2999,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"Relaxed-fit\nThe model (height 5'8"") is wearin...",H & M Hennes & Mauritz Retail Private Limited,[],"61% Viscose, 39% Polyester\nDry Clean","[{""specifications"":""Front-Open""},{""specificati...",Women Blazers
3,1707039256-4,https://www.myntra.com/women-blazers-waistcoats,NaN,NaN,STYLECAST X KASSUALLYSingle Breasted BlazersSi...,https://www.myntra.com/blazers/stylecast+x+kas...,STYLECAST X KASSUALLY,Green Notched Lapel Long Sleeve Regular Fit Si...,1.6,5 Ratings,₹3299,₹1286,"[{""available_sizes"":""S""},{""available_sizes"":""M...",[],"The model (height 5'8"") is wearing a size S",Khullar Appearls,[],95% Polyester 5% Spandex\nMachine Wash,"[{""specifications"":""Button""},{""specifications""...",Women Blazers
4,1707039258-5,https://www.myntra.com/women-blazers-waistcoats,NaN,NaN,CottinfabStriped Front Open BlazerSizes: 3XLRs...,https://www.myntra.com/blazers/cottinfab/cotti...,Cottinfab,Women Pink & White Cotton Striped Front Open B...,4.1,302 Ratings,₹2499,₹999,"[{""available_sizes"":""S""},{""available_sizes"":""M...",[],"The model (height 5'8"") is wearing a size S",D S S COTTINFAB LTD,"[{""reviews"":""One of my best buys from myntra. ...",Cotton\nMachine-wash,"[{""specifications"":""Front-Open""},{""specificati...",Women Blazers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,1707020924-495,https://www.myntra.com/myntra-fashion-store?f=...,2.0,https://www.myntra.com/myntra-fashion-store?f=...,RoadsterWomen V-Neck Pure Cotton T-shirtSizes:...,https://www.myntra.com/tshirts/roadster/roadst...,Roadster,Women White Solid V-Neck Pure Cotton T-shirt,4.0,8.9k Ratings,₹699,₹209,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"The model (height 5'8"") is wearing a size S",Truenet Commerce,"[{""reviews"":""4 stars for the quality, which is...",100% cotton\nMachine-wash,"[{""specifications"":""Pure Cotton""},{""specificat...",women Tshirts
495,1707020927-496,https://www.myntra.com/myntra-fashion-store?f=...,2.0,https://www.myntra.com/myntra-fashion-store?f=...,The Souled StoreOversized Crop T-ShirtSizes: X...,https://www.myntra.com/tshirts/the+souled+stor...,The Souled Store,Minions Stay Weird Stay Happy Oversized Croppe...,4.6,283 Ratings,₹1499,₹524,"[{""available_sizes"":""XS""},{""available_sizes"":""...","[{""prod_details"":""Yellow T-shirt for women""},{...",Boxy fit\nThe model (height 5'8) is wearing a ...,THE SOULED STORE PVT. LTD.,"[{""reviews"":""Super cute top!\nPro tip: Pair wi...",100% Cotton\nMachine Wash,"[{""specifications"":""Minions""},{""specifications...",women Tshirts
496,1707020930-497,https://www.myntra.com/myntra-fashion-store?f=...,2.0,https://www.myntra.com/myntra-fashion-store?f=...,HRX by Hrithik RoshanWomen Brand Logo Printed ...,https://www.myntra.com/tshirts/hrx+by+hrithik+...,HRX by Hrithik Roshan,Women Navy Blue Printed Rapid-Dry T-shirt with...,4.3,681 Ratings,₹799,₹375,"[{""available_sizes"":""XS""},{""available_sizes"":""...","[{""prod_details"":""Navy blue Tshirt for women""}...",Regular Fit \n The model (height 5'8) is weari...,PARAS FABRICS,"[{""reviews"":""I really liked the quality. A ver...",100% Polyester\nMachine Wash,"[{""specifications"":""Follow the garment wash ca...",women Tshirts
497,1707020933-498,https://www.myntra.com/myntra-fashion-store?f=...,2.0,https://www.myntra.com/myntra-fashion-store?f=...,DILLINGERLoose Printed Longline Cotton Pure Co...,https://www.myntra.com/tshirts/dillinger/dilli...,DILLINGER,Women Rust Pink Printed Longline Oversized Cot...,4.5,4.8k Ratings,₹1199,₹491,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"Loose Fit\nThe model (height 5'8"") is wearing ...",Elcinco Inc - SJIT,"[{""reviews"":""Superb! I’ve tried this brand for...",Material: 100% Cotton\nMachine Wash,"[{""specifications"":""Pure Cotton""},{""specificat...",women Tshirts
498,1707020936-499,https://www.myntra.com/myntra-fashion-store?f=...,2.0,https://www.myntra.com/myntra-fashion-store?f=...,Mast & HarbourPolo Collar Boxy T-shirtSizes: S...,https://www.myntra.com/tshirts/mast+%26+harbou...,Mast & Harbour,Ribbed Polo Collar Drop-Shoulder Sleeves Boxy ...,4.3,150 Ratings,₹999,₹349,"[{""available_sizes"":""XS""},{""available_sizes"":""...","[{""prod_details"":""Peach-coloured Tshirt for wo...","Boxy\nSize worn by the model: S\nChest: 30""\nH...",Truecom Retail,"[{""reviews"":""""},{""reviews"":""Nice t shirt""},{""r...","55% cotton, 35% polyester and 10% Lycra\nMach...","[{""specifications"":""Cotton""},{""specifications""...",women Tshirts

In [18]:
women_clothings.drop(["web-scraper-order","web-scraper-start-url","nextpage","nextpage-href","prod_link-href"],axis=1,inplace=True)

In [19]:
women_clothings.isnull().sum()

prod_link              0
brand                  0
product_name           0
rating              1437
total_bought        1437
strike_price         568
discounted_price       0
available_sizes        0
prod_details           0
sizeandfit             9
seller                 0
reviews                0
Materialandcare      261
specifications         0
Type                   0
dtype: int64

In [20]:
women_clothings.dtypes

prod_link            object
brand                object
product_name         object
rating              float64
total_bought         object
strike_price         object
discounted_price     object
available_sizes      object
prod_details         object
sizeandfit           object
seller               object
reviews              object
Materialandcare      object
specifications       object
Type                 object
dtype: object

In [21]:
women_clothings['strike_price'] = women_clothings['strike_price'].str.replace('₹', '') 
women_clothings['discounted_price'] = women_clothings['discounted_price'].str.replace('₹', '') 
women_clothings['discounted_price'] = women_clothings['discounted_price'].str.replace('Rs. ', '')

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
women_clothings["strike_price"]=women_clothings["strike_price"].astype(float)
women_clothings["discounted_price"]=women_clothings["discounted_price"].astype(float)

In [23]:
def convert_to_numeric(value):
    if isinstance(value, str):
        if 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value)
    else:
        return value

In [24]:
women_clothings["total_bought"] = women_clothings["total_bought"].str.replace(" Ratings", '')

In [25]:
women_clothings["total_bought"] = women_clothings["total_bought"].apply(convert_to_numeric)
print(women_clothings["total_bought"])

0        15.0
1         2.0
2         NaN
3         5.0
4       302.0
        ...
494    8900.0
495     283.0
496     681.0
497    4800.0
498     150.0
Name: total_bought, Length: 6889, dtype: float64

In [26]:
# Extract the percentage discount using a regular expression
women_clothings['discount'] = women_clothings['prod_link'].str.extract(r'(\d+% OFF)')

# Replace the values in the "prod_link" column
women_clothings['prod_link'] = women_clothings['prod_link'].str.replace(r'\(\d+% OFF\)', '', regex=True)

# Print the updated DataFrame
print(women_clothings['discount'])

0          NaN
1          NaN
2          NaN
3      61% OFF
4      60% OFF
        ...
494    70% OFF
495    65% OFF
496    56% OFF
497    59% OFF
498        NaN
Name: discount, Length: 6889, dtype: object

In [27]:
women_clothings['discount']=women_clothings['discount'].str.replace('% OFF','')
women_clothings.head()

,prod_link,brand,product_name,rating,total_bought,strike_price,discounted_price,available_sizes,prod_details,sizeandfit,seller,reviews,Materialandcare,specifications,Type,discount
0,Tokyo TalkiesSingle-Breasted BlazersSizes: MRs...,Tokyo Talkies,Grey Single-Breasted Blazers,4.4,15.0,3599.0,1099.0,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"Regular-fit\nThe model (height 5'8"") is wearin...",S & S Marketing,[],Polyester\nMachine Wash,"[{""specifications"":""Front-Open""},{""specificati...",Women Blazers,NaN
1,Tokyo TalkiesDouble Breasted BlazersSizes: XSR...,Tokyo Talkies,Notched Lapel Longline Double Breasted Blazers,5.0,2.0,4099.0,1149.0,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"The model (height 5'8"") is wearing a size S",S & S Marketing,[],70% Polyester & 30% Viscose\nMachine Wash,"[{""specifications"":""Button""},{""specifications""...",Women Blazers,NaN
2,NEW SEASONH&MWomen Gathered Sleeve BlazersSize...,H&M,Women Relaxed-Fit Gathered Sleeve Blazers,NaN,NaN,NaN,2999.0,"[{""available_sizes"":""XS""},{""available_sizes"":""...",[],"Relaxed-fit\nThe model (height 5'8"") is wearin...",H & M Hennes & Mauritz Retail Private Limited,[],"61% Viscose, 39% Polyester\nDry Clean","[{""specifications"":""Front-Open""},{""specificati...",Women Blazers,NaN
3,STYLECAST X KASSUALLYSingle Breasted BlazersSi...,STYLECAST X KASSUALLY,Green Notched Lapel Long Sleeve Regular Fit Si...,1.6,5.0,3299.0,1286.0,"[{""available_sizes"":""S""},{""available_sizes"":""M...",[],"The model (height 5'8"") is wearing a size S",Khullar Appearls,[],95% Polyester 5% Spandex\nMachine Wash,"[{""specifications"":""Button""},{""specifications""...",Women Blazers,61
4,CottinfabStriped Front Open BlazerSizes: 3XLRs...,Cottinfab,Women Pink & White Cotton Striped Front Open B...,4.1,302.0,2499.0,999.0,"[{""available_sizes"":""S""},{""available_sizes"":""M...",[],"The model (height 5'8"") is wearing a size S",D S S COTTINFAB LTD,"[{""reviews"":""One of my best buys from myntra. ...",Cotton\nMachine-wash,"[{""specifications"":""Front-Open""},{""specificati...",Women Blazers,60

In [28]:
women_clothings['discount']=women_clothings['discount'].astype(float)

In [29]:
import json

# Function to extract sizes from the JSON-like format
def extract_sizes(json_str):
    try:
        sizes_list = json.loads(json_str)
        sizes = [entry['available_sizes'] for entry in sizes_list]
        return ', '.join(sizes)
    except (json.JSONDecodeError, KeyError):
        return None

# Apply the function to the 'available_sizes' column
women_clothings['extracted_sizes'] = women_clothings['available_sizes'].apply(extract_sizes)

# Display the result
print(women_clothings[['available_sizes', 'extracted_sizes']])

                                       available_sizes        extracted_sizes
0    [{"available_sizes":"XS"},{"available_sizes":"...   XS, S, M, L, XL, XXL
1    [{"available_sizes":"XS"},{"available_sizes":"...   XS, S, M, L, XL, XXL
2    [{"available_sizes":"XS"},{"available_sizes":"...        XS, S, M, L, XL
3    [{"available_sizes":"S"},{"available_sizes":"M...            S, M, L, XL
4    [{"available_sizes":"S"},{"available_sizes":"M...  S, M, L, XL, XXL, 3XL
..                                                 ...                    ...
494  [{"available_sizes":"XS"},{"available_sizes":"...   XS, S, M, L, XL, XXL
495  [{"available_sizes":"XS"},{"available_sizes":"...   XS, S, M, L, XL, XXL
496  [{"available_sizes":"XS"},{"available_sizes":"...        XS, S, M, L, XL
497  [{"available_sizes":"XS"},{"available_sizes":"...        XS, S, M, L, XL
498  [{"available_sizes":"XS"},{"available_sizes":"...        XS, S, M, L, XL

[6889 rows x 2 columns]

In [30]:
def extract_specs(json_str):
    try:
        sizes_list = json.loads(json_str)
        sizes = [entry['specifications'] for entry in sizes_list]
        return ', '.join(sizes)
    except (json.JSONDecodeError, KeyError):
        return None

# Apply the function to the 'available_sizes' column
women_clothings['extracted_specs'] = women_clothings['specifications'].apply(extract_specs)

# Display the result
print(women_clothings[['specifications', 'extracted_specs']])

                                        specifications  \
0    [{"specifications":"Front-Open"},{"specificati...
1    [{"specifications":"Button"},{"specifications"...
2    [{"specifications":"Front-Open"},{"specificati...
3    [{"specifications":"Button"},{"specifications"...
4    [{"specifications":"Front-Open"},{"specificati...
..                                                 ...
494  [{"specifications":"Pure Cotton"},{"specificat...
495  [{"specifications":"Minions"},{"specifications...
496  [{"specifications":"Follow the garment wash ca...
497  [{"specifications":"Pure Cotton"},{"specificat...
498  [{"specifications":"Cotton"},{"specifications"...

                                       extracted_specs
0    Front-Open, Notched Lapel, Polyester, Regular ...
1    Button, Notched Lapel, Polyester, Regular Fit,...
2    Front-Open, Notched Lapel, Comfort Fit, Open F...
3    Button, Notched Lapel, Polyester, Regular Fit,...
4    Front-Open, Shawl Collar, Pure Cotton, Regular...
..                                                 ...
494  Pure Cotton, Regular Fit, Regular, New Basics,...
495  Minions, Pure Cotton, Oversized, Crop, Graphic...
496  Follow the garment wash care label\n\nCan be t...
497  Pure Cotton, Oversized, Longline, Typography o...
498  Cotton, Polyester, Elastane, Boxy, Crop, New B...

[6889 rows x 2 columns]

In [31]:
def extract_product_details(json_str):
    try:
        sizes_list = json.loads(json_str)
        sizes = [entry['prod_details'] for entry in sizes_list]
        return ', '.join(sizes)
    except (json.JSONDecodeError, KeyError):
        return None

# Apply the function to the 'available_sizes' column
women_clothings['extracted_product_details'] = women_clothings['prod_details'].apply(extract_product_details)

# Display the result
print(women_clothings[['prod_details', 'extracted_product_details']])

                                          prod_details  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4                                                   []
..                                                 ...
494                                                 []
495  [{"prod_details":"Yellow T-shirt for women"},{...
496  [{"prod_details":"Navy blue Tshirt for women"}...
497                                                 []
498  [{"prod_details":"Peach-coloured Tshirt for wo...

                             extracted_product_details
0
1
2
3
4
..                                                 ...
494
495  Yellow T-shirt for women, Graphic Minionsprint...
496  Navy blue Tshirt for women, Brand logo printed...
497
498  Peach-coloured Tshirt for women, Solid. ribbed...

[6889 rows x 2 columns]

In [32]:
women_clothings['Materialandcare']=women_clothings['Materialandcare'].str.replace('\n',' ')
women_clothings['Materialandcare'].unique()

array(['Polyester Machine Wash',
       '70% Polyester & 30% Viscose Machine Wash',
       '61% Viscose, 39% Polyester Dry Clean', ...,
       '90% Polyester, 10% Spandex Follow the garment wash care label  Can be tumble dried in a cool setting if machine washed  Prevent static build-up by drying while damp  Use low heat to iron',
       '95% Cotton and 5% Elastane Hand Wash',
       '57% Cotton, 38% Polyester & 5% Elastane Machine Wash'],
      dtype=object)

In [33]:
women_clothings['Product Details and Specifications']=women_clothings['extracted_specs']+" "+women_clothings['extracted_specs']

In [34]:
def extract_reviews(json_str):
    try:
        sizes_list = json.loads(json_str)
        sizes = [entry['reviews'] for entry in sizes_list]
        return ', '.join(sizes)
    except (json.JSONDecodeError, KeyError):
        return None

# Apply the function to the 'available_sizes' column
women_clothings['extracted_reviews'] = women_clothings['reviews'].apply(extract_reviews)

# Display the result
print(women_clothings[['reviews', 'extracted_reviews']])

                                               reviews  \
0                                                   []
1                                                   []
2                                                   []
3                                                   []
4    [{"reviews":"One of my best buys from myntra. ...
..                                                 ...
494  [{"reviews":"4 stars for the quality, which is...
495  [{"reviews":"Super cute top!\nPro tip: Pair wi...
496  [{"reviews":"I really liked the quality. A ver...
497  [{"reviews":"Superb! I’ve tried this brand for...
498  [{"reviews":""},{"reviews":"Nice t shirt"},{"r...

                                     extracted_reviews
0
1
2
3
4    One of my best buys from myntra. I wanted a bl...
..                                                 ...
494  4 stars for the quality, which isn't superb bu...
495  Super cute top!\nPro tip: Pair with high waist...
496  I really liked the quality. A very perfect pro...
497  Superb! I’ve tried this brand for the first ti...
498  , Nice t shirt, Good ribbed top and the fittin...

[6889 rows x 2 columns]

In [35]:
women=women_clothings[['brand','seller','product_name','rating','total_bought','strike_price', 'discounted_price','discount','extracted_sizes','Product Details and Specifications','extracted_reviews','Materialandcare','Type']]

In [36]:
women.rename(columns={'extracted_sizes': 'Available_sizes','Product Details and Specifications': 'Specifications','extracted_reviews': 'reviews','Materialandcare': 'Material'}, inplace=True)

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [37]:
women.columns

Index(['brand', 'seller', 'product_name', 'rating', 'total_bought',
       'strike_price', 'discounted_price', 'discount', 'Available_sizes',
       'Specifications', 'reviews', 'Material', 'Type'],
      dtype='object')

In [38]:
women.to_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_preprocessed_dataset_new.csv",index=False)

In [39]:
women.head()

,brand,seller,product_name,rating,total_bought,strike_price,discounted_price,discount,Available_sizes,Specifications,reviews,Material,Type
0,Tokyo Talkies,S & S Marketing,Grey Single-Breasted Blazers,4.4,15.0,3599.0,1099.0,NaN,"XS, S, M, L, XL, XXL","Front-Open, Notched Lapel, Polyester, Regular ...",,Polyester Machine Wash,Women Blazers
1,Tokyo Talkies,S & S Marketing,Notched Lapel Longline Double Breasted Blazers,5.0,2.0,4099.0,1149.0,NaN,"XS, S, M, L, XL, XXL","Button, Notched Lapel, Polyester, Regular Fit,...",,70% Polyester & 30% Viscose Machine Wash,Women Blazers
2,H&M,H & M Hennes & Mauritz Retail Private Limited,Women Relaxed-Fit Gathered Sleeve Blazers,NaN,NaN,NaN,2999.0,NaN,"XS, S, M, L, XL","Front-Open, Notched Lapel, Comfort Fit, Open F...",,"61% Viscose, 39% Polyester Dry Clean",Women Blazers
3,STYLECAST X KASSUALLY,Khullar Appearls,Green Notched Lapel Long Sleeve Regular Fit Si...,1.6,5.0,3299.0,1286.0,61.0,"S, M, L, XL","Button, Notched Lapel, Polyester, Regular Fit,...",,95% Polyester 5% Spandex Machine Wash,Women Blazers
4,Cottinfab,D S S COTTINFAB LTD,Women Pink & White Cotton Striped Front Open B...,4.1,302.0,2499.0,999.0,60.0,"S, M, L, XL, XXL, 3XL","Front-Open, Shawl Collar, Pure Cotton, Regular...",One of my best buys from myntra. I wanted a bl...,Cotton Machine-wash,Women Blazers

In [40]:
women.isnull().sum()

brand                  0
seller                 0
product_name           0
rating              1437
total_bought        1437
strike_price         568
discounted_price       0
discount            1389
Available_sizes        0
Specifications         0
reviews                0
Material             261
Type                   0
dtype: int64

In [41]:
women.dtypes

brand                object
seller               object
product_name         object
rating              float64
total_bought        float64
strike_price        float64
discounted_price    float64
discount            float64
Available_sizes      object
Specifications       object
reviews              object
Material             object
Type                 object
dtype: object

In [42]:
women['rating']=women['rating'].fillna(0)

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
women['total_bought']=women['total_bought'].fillna(0)
women['discount']=women['discount'].fillna(0)

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [44]:
most_used=women['Material'].mode()[0]
print(most_used)

Polyester Machine Wash

In [45]:
women['Material']=women['Material'].fillna(most_used)

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
women['strike_price'] = women['strike_price'].fillna(women['discounted_price'])

C:\Users\sarla\anaconda3\envs\rstudio\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
women.isnull().sum()

brand               0
seller              0
product_name        0
rating              0
total_bought        0
strike_price        0
discounted_price    0
discount            0
Available_sizes     0
Specifications      0
reviews             0
Material            0
Type                0
dtype: int64

In [48]:
women.to_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_preprocessedandcleaned_dataset_new.csv",index=False)

In [49]:
women.to_excel(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_preprocessedandcleaned_dataset_new.xlsx",index=False)

In [1]:
import pandas as pd

In [3]:
data_change=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_preprocessedandcleaned_dataset.csv")

In [5]:
data_change.to_excel(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\women_preprocessedandcleaned_dataset_dv.xlsx",index=False)

In [6]:
data_change_men=pd.read_csv(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\men_preprocessedandcleaned_dataset.csv")

In [7]:
data_change_men.to_excel(r"C:\Users\sarla\OneDrive\Documents\myntra_scraped_data\men_preprocessedandcleaned_dataset_dv.xlsx")